@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
}

body{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-color: #FF7706;
      width: 1900px;
}
.wrapper{
      width: 600px;
      height: 400px;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
}
.wrapper-left{
      width: 40%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.wrapper-left img{
      width: 100%;
      margin-top: -70px;
}
.wrapper-right h3{
      color: #FF7706;
      margin: 40px 0 0 0;
}
.by{
      color: gray;
      margin: 10px 0 0 0;
}
.price{
      color: #FF7706;
      margin: 10px 0 0 0;
}
.actual-price{
      text-decoration: line-through;
}
.rating{
      margin: 5px 0 5px 0;
      font-weight: 600;
      color: #FF7706;
}
.fas{
      color: yellow;
      text-shadow: -1px 0 black, 0 1px black,1px 0 black,0 -1px black;
}
p{
      color: rgb(80, 78, 78);
      margin: 10px 0 5px 0;
}
.wrapper-right{
      width: 60%;
}
button{
      color: white;
      font-weight: bold;
      font-size: 15px;
      background-color: #FF7706;
      border: none;
      border-radius: 20px;
      padding: 10px 20px;
      margin: 10px;
      transition: 0.5s ease;
      cursor: pointer;
}
button:hover{
      background-color: #d36104;
}